#Ignore FPGA folder
FPGA/*
#Don't ignore verilog or VHDL files
!FPGA/*.v
!FPGA/*.vhd

#Don't ignore important project files
!FPGA/*.qpf
!FPGA/*.qsf
!FPGA/*.sdc

#Don't ignore adc_controller folder
!FPGA/adc_controller/